h1 {
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#top {
    text-align: left;

}

#refer {
    text-align: center;
    text-decoration: underline;
    color: indigo;
}
#header{
    color:deeppink;
    text-transform: uppercase;
}
table{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    background: url('https://image.freepik.com/free-vector/blue-sky-abstract-light-background_1182-1758.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}